.datepicker
  display: flex
  align-items: flex-start
  justify-content: center
  flex-direction: column

.datepicker__label
  font-size: 14px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: flex-start

.datepicker__label-text
  margin-bottom: 4px

.datepicker__input
  height: 36px
  border-radius: 2px
  padding-right: 40px
  padding-left: 12px
  position: relative
  font-size: 14px

  &:after
    content: ''
    box-sizing: border-box
    position: absolute
    top: 0
    bottom: 0
    right: 12px
    margin: auto
    width: 18px
    height: 18px
    background: url(calendar.svg) no-repeat
    background-size: 100%
    opacity: .7

.datepicker__bottom-date
  text-align: center
  box-sizing: border-box
  color: #3B5EDC
  font-weight: 600
  position: absolute
  height: 28px
  bottom: 0
  display: block
  width: 100%
  cursor: pointer

  &:before
    content: ''
    display: block
    height: 1px
    width: 100%
    background: #ccc
    position: absolute
    top: -12px

.datepicker--disabled
  .datepicker__input
    outline: none
    background: #e8e8e8
    border: 1px solid #e8e8e8
    color: #a3a3a3

    &:after
      opacity: .3

.datepicker--invalid
  .datepicker__input
    border: 1px solid #ff2931

.datepicker--en
  .react-datepicker__day-name
    &:first-child
      color: #cccccc

    &:last-child
      color: #58606D


.react-datepicker-wrapper
  margin: 0 auto

.react-datepicker
  border: none
  border-radius: 0
  box-shadow: 0 0 4px #00000010, 0 0 8px #00000010, 0 0 16px #00000010, 0 0 20px #00000020

.react-datepicker__triangle
  display: none

.react-datepicker__navigation
  border: none
  width: 16px
  height: 16px

.react-datepicker__navigation--previous
  top: 20px
  left: 176px
  background: url(arrow.svg) no-repeat
  background-size: 100%
  transform: rotate(-90deg)

.react-datepicker__navigation--next
  top: 20px
  left: 204px
  background: url(arrow.svg) no-repeat
  background-size: 100%
  transform: rotate(90deg)


.react-datepicker__current-month
  padding: 8px 0 18px 20px
  text-transform: capitalize
  text-align: left
  color: #54545F

.react-datepicker__month-container
  margin-bottom: 48px

.react-datepicker__header
  border-bottom: 0px solid transparent
  background: #ffffff
  border-radius: 0

.react-datepicker__day-names
  border-top: 1px solid #E0E0E3
  background: #ffffff
  font-weight: 600
  padding-top: 12px

.react-datepicker__day-name
  color: #58606D
  margin: 1px
  text-transform: capitalize

  &:last-child
    color: #cccccc

.react-datepicker__month
  margin: 0 20px 10px

.react-datepicker__day
  margin: 1px

  &:hover
    border-radius: 50px

.react-datepicker__day--selected
  border-radius: 50px
  background: #3B5EDC
  font-weight: 400

.react-datepicker__today-button
  background: #ffffff
  padding: 16px 0
  border-top-color: #E0E0E3